// -----------------------------------------------------------------------------
// Base grid layout and its breakpoints
// -----------------------------------------------------------------------------

// HTML structure should be something like this:
// <div className="content-grid">
//   <section>
//     <h2></h2>
//     <div></div>
//   </section>
//   <section className="full"></section>
//   <section className="full">
//     <div className="contained"></div>
//   </section>
//   <section>
//     <h2></h2>
//     <div></div>
//   </section>
// </div>

.content-grid {
  --padding: 1rem;
  display: grid;
  grid-template-columns:
    [full-start] minmax(var(--padding), 1fr)
    [contain-start] minmax(0, $max-width) [contain-end]
    minmax(var(--padding), 1fr) [full-end];

  @include breakpoint(sm) {
    --padding: 2rem;
  }

  > * {
    grid-column: contain;

    @include breakpoint(md) {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-gap: 5rem;
    }
  }

  > section {
    padding: 3rem 0;

    @include breakpoint(md) {
      padding: 4.5rem 0;
    }

    @include breakpoint(lg) {
      padding: 5.5rem 0;
    }
  }

  .full {
    grid-column: full;
    display: inherit;
    grid-template-columns: inherit;

    @include breakpoint(md) {
      grid-gap: 0;
      grid-template-columns:
        var(--padding)
        [cover-start] 1fr [cover-end]
        var(--padding);
    }

    > * {
      grid-column: contain;

      @include breakpoint(md) {
        grid-column: cover;
        justify-self: center;
        max-width: $max-width;
      }
    }
  }

  .contained {
    @include breakpoint(md) {
      display: grid;
      grid-template-columns: [contain-start] minmax(0, $max-width) [contain-end];
    }

    > * {
      @include breakpoint(md) {
        grid-column: contain;
      }
    }
  }
}

// Project details layout

// Project cover image is 'zoomed in' on small viewports for clarity
.cover {
  &__outer-container {
    width: calc(100% + 1rem);
    height: 24rem;
    overflow: hidden;
    @include box-shadow;

    @include breakpoint(sm) {
      width: calc(100% + 2rem);
      height: 27rem;
    }

    @include breakpoint(md) {
      width: 100%;
      height: 100%;
      border-radius: $border-radius;
    }
  }

  &__inner-container {
    width: 48rem;
    height: 27rem;
    border-radius: $border-radius;
    overflow: hidden;

    @include breakpoint(sm) {
      width: 56rem;
      height: 31.5rem;
    }

    @include breakpoint(md) {
      width: 100%;
      height: 100%;
    }
  }
}
