// -----------------------------------------------------------------------------
// Navbar and mobile menu styles
// -----------------------------------------------------------------------------

.navbar {
  background-color: $bg-dark;
  color: $txt-light;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.8rem 0 1.4rem;
  border-bottom: 1px solid $secondary-vio2;

  &__logo {
    color: $txt-light;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    z-index: 999;

    &:visited, &:focus {
      color: $txt-light;
    }

    span {
      line-height: 1.44;
      font-size: 1.188rem;
      font-weight: 500;
      padding-left: 0.7rem;
      margin-top: 0.35rem;
    }
  }
}

// ===================
// Hamburger menu icon
// ===================
.burger-menu {
  display: block;

  @include breakpoint(md) {
    display: none;
  }

  &__icon {
    position: relative;
    padding: 0.5rem 0.5rem 0.5rem 0.6rem;
    margin: 0;
    border: none;
    border-radius: 8px;
    background: transparent;
    cursor: pointer;
    z-index: 998;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 42px;

    &:focus {
      outline: none;
      -webkit-tap-highlight-color: transparent;
    }

    &:hover,
    &:active {
      border: none;
      outline: none;
    }

    span {
      background: $txt-light;
      border-radius: 22px;
      height: 2px;
      margin: 2.5px 0;
      transition: 0.3s cubic-bezier(0.68, 0, 0.32, 1);

      &:nth-of-type(1) {
        width: 70%;
      }

      &:nth-of-type(2) {
        width: 100%;
      }

      &:nth-of-type(3) {
        width: 85%;
      }
    }
  }

  // onClick animation
  &__icon.active {
    span {
      &:nth-of-type(1) {
        transform-origin: bottom;
        width: 52.5%;
        transform: rotatez(-45deg) translate(-2.75px, 0.75px);
      }

      &:nth-of-type(2) {
        transform-origin: top;
        transform: rotatez(45deg);
      }

      &:nth-of-type(3) {
        transform-origin: bottom;
        width: 52.5%;
        transform: translate(-9.5px, -3.75px) rotatez(-45deg);
      }
    }
  }
}

// =============================
// Mobile menu overlay container
// =============================
.burger-menu {
  &__container {
    background-color: #09080e;
    visibility: visible;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    opacity: 1;
    transition: visibility 600ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 400ms cubic-bezier(0.4, 0, 0.2, 1);

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      opacity: 1;
      transform: translateY(0%);
      transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1),
        transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__container.closed {
    visibility: hidden;
    opacity: 0;

    ul {
      opacity: 0;
      transform: translateY(10%);
    }
  }
}

// ===========================
// Mobile menu content styling
// ===========================
.burger-menu {
  &__main-links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 75%;

    li a {
      display: block;
      margin: 0.8rem 0;
      padding: 0.5rem;
      font-size: 2.25rem;
      color: $txt-light;
      text-decoration: none;
    }
  }

  &__outgoing-links {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25%;

    li a {
      padding: 0.3rem;
      margin: 0.3rem;
      color: $txt-light;
      text-decoration: none;
    }
  }
}

// ============
// Desktop menu
// ============
.desktop-menu {
  display: none;

  @include breakpoint(md) {
    display: block;
  }

  &__links {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline;
      margin: 0 .8rem;
    }

    a, a:visited {
      color: $grey-light;
      font-size: 1.188rem;
      font-weight: 500;
      padding: .2rem .3rem;
    }

    a.active {
      color: $txt-light;
    }
  }
}
