// -----------------------------------------------------------------------------
// Navbar styles
// -----------------------------------------------------------------------------

.navbar {
  &__grid {
    display: grid;
    --padding: 1rem;
    grid-template-columns: [full-start] minmax( var(--padding), 1fr) [contain-start] minmax(0, 70rem) [contain-end] minmax(var(--padding), 1fr) [full-end];

    > * {
      grid-column: contain;
      padding: 1rem 0;
    }

    @include breakpoint(sm) {
      --padding: 2rem;
    }
  }
}
