// -----------------------------------------------------------------------------
// Home
// -----------------------------------------------------------------------------

.home {
  padding: 4rem 0 6rem;
  position: relative;
  min-height: 86vh;

  &__bg {
    grid-column: full;
    position: absolute;
    color: $bg-accent;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    margin-top: 1rem;

    svg {
      width: 90rem;
      margin-left: -6rem;

      @include breakpoint(lg) {
        min-width: 90rem;
        width: calc(100% + 12rem);
      }
    }
  }

  &__flex {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint(lg) {
      flex-direction: row;
    }
  }

  &__intro {
    position: relative;
    width: 100%;
    max-width: 48rem;

    @include breakpoint(lg) {
      min-width: 32rem;
    }

    h1 {
      margin: 1.8rem 0 1.5rem;
    }

    p {
      font-size: 1.25rem;
      line-height: 1.6;
      margin: 1.5rem 0 2.25rem;
      color: $grey-lighter;
    }

    button {
      margin-bottom: 0.7rem;
    }
  }

  &__illustration {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 3.5rem 0.8rem -3.5rem;

    svg {
      max-width: 24rem;
    }

    @include breakpoint(md) {
      margin-top: 4rem;
    }
  }
}

.button-container {
  margin: 2rem 0;
}

.about-me {
  display: flex;
  flex-direction: column;

  @include breakpoint(md) {
    flex-direction: row;
  }
  
  &__profile {
    background-color: $bg-dark2;
    border-radius: $border-radius;
    width: 100%;
    min-width: 18rem;
    padding: 2rem;

    h4 {
      font-size: 1.5rem;
      margin: 0;
    }

    p {
      color: $grey-light;
      margin: .25rem 0 0;
    }
  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 2rem;
  }

  &__p {
    color: $grey-lighter;
    margin-top: 2rem;

    @include breakpoint(md) {
      margin: 0 1.75rem 0 2rem;

    }

    @include breakpoint(lg) {
      margin-left: 4rem;
    }
  }
}