// -----------------------------------------------------------------------------
// Index styles
// -----------------------------------------------------------------------------

.hero {
  margin: 3rem 0 0;
  overflow: hidden;
  position: relative;

  @include breakpoint(md) {
    margin: 6rem 0 0;
  }

  @include breakpoint(lg) {
    margin: 8rem 0 6rem;
    padding-bottom: 2.25rem;
  }

  &__flex {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    @include breakpoint(lg) {
      flex-direction: row;
      align-items: flex-end;
      gap: 1rem;

      > * {
        flex: 1 1 50%;
      }
    }
  }

  &__greeting {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: $l-green;

    svg {
      flex-shrink: 0;
    }

    p {
      margin: 0;
      font-size: 1.063rem;
      font-weight: 500;
      line-height: 1.4;
    }
  }

  &__content {
    h1 {
      position: relative;

      @include breakpoint(lg) {
        // line
        &::before {
          content: '';
          position: absolute;
          left: calc(-250% - 1rem);
          top: 2.25rem;
          height: 3px;
          width: 250%;
          background-color: $l-pink;
        }
      }
    }

    p {
      max-width: 700px;
    }
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 2.25rem;
  }

  &__image {
    margin: 0 1rem;
    max-width: 365px;
    align-self: flex-end;
    flex-shrink: 0;
    position: relative;

    @include breakpoint(md) {
      margin-top: -4rem;
    }

    // bg square
    &::after {
      content: '';
      z-index: -1;
      position: absolute;
      width: auto;
      height: 65%;
      right: -3rem;
      bottom: 2rem;
      left: -1rem;
      background-color: $l-lightgreen;
      border-radius: $border-radius 0 0 $border-radius;
    }

    @include breakpoint(lg) {
      margin: 0;
      max-width: 400px;
      position: initial;

      &::after {
        height: 250px;
        width: auto;
        right: 0;
        bottom: 4.25rem;
        left: calc(50% + 8rem);
      }
    }
  }

  &__svg-wrapper {
    // bg cubes
    &::before,
    &::after {
      content: '';
      z-index: -1;
      position: absolute;
      width: 200px;
      height: 50px;
      background: url('/assets/svgs/squares.svg') no-repeat;
    }

    // cubes-top
    &::before {
      right: -1.5rem;
      bottom: 21rem;
    }

    // cubes-bottom
    &::after {
      left: calc(50% + 3rem);
      bottom: 0;
      transform: scale(-1, 1);
    }
  }
}

.projects {
  @include breakpoint(md) {
    margin-top: -8rem;
  }
  @include breakpoint(lg) {
    margin-top: 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}

.about-me {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;

    @include breakpoint(sm) {
      flex-direction: row;
      gap: 1.5rem;
    }
    @include breakpoint(lg) {
      gap: 3rem;
    }
  }

  &__image-container {
    position: relative;
    flex-shrink: 0;
    display: inline-flex;
    max-width: 300px;
    margin: 0 auto;

    @include breakpoint(sm) {
      flex-basis: 25%;
    }

    // bg flat shadow
    &::after {
      --offset: 1rem;
      content: '';
      position: absolute;
      z-index: -1;
      top: var(--offset);
      left: -var(--offset);
      bottom: -var(--offset);
      right: var(--offset);
      width: 100%;
      height: 100%;
      border-radius: $border-radius;
      background-color: $l-lightgreen;

      @include breakpoint(xl) {
        --offset: 1.5rem;
      }
    }
  }

  &__image {
    border-radius: $border-radius;
  }

  &__content {
    p {
      max-width: 740px;

      &:first-of-type {
        margin-top: 0;
      }
    }
  }

  &__technologies {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2.5rem;

    @include breakpoint(xs) {
      flex-direction: row;
      flex-wrap: wrap;

      > * {
        flex: 1 1 calc(50% - 2rem);
      }
    }

    @include breakpoint(lg) {
      flex-wrap: nowrap;
      gap: 3rem;

      > * {
        flex: 1;
      }
    }
  }
}
