// -----------------------------------------------------------------------------
// Index styles
// -----------------------------------------------------------------------------

.hero {
  position: relative;
  overflow: hidden;
  margin: 3rem 0 1.5rem;
  padding-bottom: 2.25rem;

  @include breakpoint(md) {
    margin: 6rem 0 0;
  }

  @include breakpoint(lg) {
    margin: 8rem 0 6rem;
  }

  &__flex {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    @include breakpoint(lg) {
      flex-direction: row;
      align-items: flex-end;
      gap: 1rem;

      > * {
        flex: 1;
      }
    }
  }

  &__greeting {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: $l-green;

    svg {
      flex-shrink: 0;
    }

    p {
      margin: 0;
      font-size: 1.063rem;
      font-weight: 500;
      line-height: 1.4;
    }
  }

  &__content {
    h1 {
      @include breakpoint(lg) {
        position: relative;

        // line
        &::before {
          content: '';
          position: absolute;
          top: 2.25rem;
          left: calc(-250% - 1rem);
          height: 3px;
          width: 250%;
          background-color: $l-pink;
        }
      }
    }

    p {
      max-width: 700px;
    }
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 2.25rem;
  }

  &__image {
    position: relative;
    align-self: flex-end;
    flex-shrink: 0;
    margin: 0 1rem;
    width: min(365px, 100%);

    @include breakpoint(md) {
      margin-top: -4rem;
    }
    @include breakpoint(lg) {
      position: initial;
      margin: 0;
      max-width: 400px;
    }

    // bg square
    &::after {
      content: '';
      z-index: -1;
      position: absolute;
      width: auto;
      height: 65%;
      right: -3rem;
      bottom: 2rem;
      left: -1rem;
      background-color: $l-lightgreen;
      border-radius: $border-radius 0 0 $border-radius;

      @include breakpoint(lg) {
        width: auto;
        height: 250px;
        right: 0;
        bottom: 4.25rem;
        left: calc(50% + 8rem);
      }
    }
  }

  &__svg-wrapper {
    // bg cubes
    &::before,
    &::after {
      content: '';
      z-index: -1;
      position: absolute;
      width: 200px;
      height: 50px;
      background: url('/assets/svgs/squares.svg') no-repeat;
    }

    // cubes-top
    &::before {
      right: -1.5rem;
      bottom: calc(100% - 0.25rem);

      @include breakpoint(lg) {
        bottom: 21rem;
      }
    }

    // cubes-bottom
    &::after {
      left: calc(50% - 17.5rem);
      bottom: -2.25rem;
      transform: scale(-1, 1);

      @include breakpoint(lg) {
        left: calc(50% + 3rem);
        bottom: 0;
      }
    }
  }
}

.projects {
  @include breakpoint(md) {
    margin-top: -8rem;
  }
  @include breakpoint(lg) {
    margin-top: 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}

.about-me {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;

    @include breakpoint(sm) {
      flex-direction: row;
      gap: 1.5rem;
    }
    @include breakpoint(lg) {
      gap: 3rem;
    }
  }

  &__image-container {
    position: relative;
    flex-shrink: 0;
    display: inline-flex;
    max-width: 300px;
    margin: 0 auto;

    @include breakpoint(sm) {
      flex-basis: 25%;
    }

    // bg flat shadow
    &::after {
      --offset: 1rem;
      content: '';
      position: absolute;
      z-index: -1;
      top: var(--offset);
      left: -var(--offset);
      bottom: -var(--offset);
      right: var(--offset);
      width: 100%;
      height: 100%;
      border-radius: $border-radius;
      background-color: $l-lightgreen;

      @include breakpoint(xl) {
        --offset: 1.5rem;
      }
    }
  }

  &__image {
    border-radius: $border-radius;
  }

  &__content {
    p {
      max-width: 740px;

      &:first-of-type {
        margin-top: 0;
      }
    }
  }

  &__technologies {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2.5rem;

    @include breakpoint(xs) {
      flex-direction: row;
      flex-wrap: wrap;

      > * {
        flex: 1 1 calc(50% - 2rem);
      }
    }

    @include breakpoint(lg) {
      flex-wrap: nowrap;
      gap: 3rem;

      > * {
        flex: 1;
      }
    }
  }
}

.contact {
  position: relative;
  overflow: hidden;

  &__flex {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-bottom: 3rem;

    @include breakpoint(md) {
      flex-direction: row;
    }
  }

  &__image {
    position: relative;
    align-self: flex-start;
    flex-shrink: 0;
    width: min(325px, 100%);

    @include breakpoint(xl) {
      position: initial;
      width: 325px;
      margin-left: -2rem;
    }

    // bg square
    &::after {
      content: '';
      z-index: -1;
      position: absolute;
      width: auto;
      height: calc(100% + 1rem);
      left: -5rem;
      right: 1rem;
      top: 0;
      background-color: $l-lightgreen;
      border-radius: 0 $border-radius $border-radius 0;

      @include breakpoint(xl) {
        height: 240px;
        left: 0;
        right: calc(50% + 17.5rem);
        top: 5.5rem;
      }
    }
  }

  &__svg-wrapper {
    // bg cubes
    &::before,
    &::after {
      content: '';
      z-index: -1;
      position: absolute;
      width: 200px;
      height: 50px;
      background: url('/assets/svgs/squares.svg') no-repeat;
    }

    // cubes-top
    &::before {
      right: -3.9rem;
      bottom: calc(93%);

      @include breakpoint(xl) {
        right: calc(50% + 12.6rem);
        bottom: 77%;
      }
    }

    // cubes-bottom
    &::after {
      left: calc(50% - 15.5rem);
      bottom: -5.25rem;

      @include breakpoint(xl) {
        left: -1rem;
        bottom: 10%;
      }
    }
  }

  &__content {
    @include breakpoint(md) {
      align-self: center;
    }

    h2 {
      @include breakpoint(md) {
        display: inline;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          top: 1.75rem;
          margin-left: 1rem;
          height: 3px;
          width: 1000%;
          background-color: $l-pink;
        }
      }
    }

    .big-p {
      max-width: 500px;
    }

    a {
      font-weight: 500;
      color: $l-green;
      text-decoration: underline;
    }
  }
}
