// -----------------------------------------------------------------------------
// Index styles
// -----------------------------------------------------------------------------

.hero {
  margin: 3rem 0;
  padding-bottom: 2.25rem;
  overflow: hidden;
  position: relative;

  @include breakpoint(md) {
    margin: 6rem 0;
  }
  
  @include breakpoint(lg) {
    margin: 8rem 0 6rem;
  }

  &__flex {
    display: flex;

    @include breakpoint(lg) {
      flex-direction: row;
      align-items: flex-end;
      gap: 1rem;

      > * {
        flex: 1 1 50%;
      }
    }
  }

  &__greeting {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: $l-green;

    svg {
      flex-shrink: 0;
    }

    p {
      margin: 0;
      font-size: 1.063rem;
      font-weight: 500;
      line-height: 1.4;
    }
  }

  &__content {
    p {
      font-size: clamp(1.063rem, 4vw, 1.25rem);
      line-height: 1.6;
      color: $l-gray;
    }

    // line
    h1 {
      position: relative;

      @include breakpoint(lg) {
        &::before {
          content: '';
          position: absolute;
          left: calc(-250% - 1rem);
          top: 2.25rem;
          height: 3px;
          width: 250%;
          background-color: $l-pink;
        }
      }
    }
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 2.25rem;
  }

  &__image {
    display: none;

    @include breakpoint(lg) {
      display: block;
      max-width: 400px;

      // bg square
      &::after {
        content: '';
        z-index: -1;
        position: absolute;
        width: auto;
        height: 250px;
        right: 0;
        bottom: 4.25rem;
        left: calc(50% + 8rem);
        background-color: $l-lightgreen;
        border-radius: $border-radius;
      }
    }
  }

  &__svg-wrapper {
    // bg cubes
    &::before, &::after {
      content: '';
      z-index: -1;
      position: absolute;
      width: 200px;
      height: 50px;
      background: url('/assets/svgs/squares.svg') no-repeat;
    }

    // cubes-top
    &::before {
      right: -1.5rem;
      bottom: 21rem;
    }

    // cubes-bottom
    &::after {
      left: calc(50% + 3rem);
      bottom: 0;
      transform: scale(-1, 1);
    }
  }
}
