// -----------------------------------------------------------------------------
// Project page styles
// -----------------------------------------------------------------------------

.project-header {
  padding-bottom: 5rem;
  margin-bottom: 0;

  @include breakpoint(md) {
    h1 {
      max-width: 725px;
    }
  }
  @include breakpoint(lg) {
    padding-top: 2.95rem;
  }

  .hero__content {
    margin-bottom: 3rem;

    @include breakpoint(sm) {
      margin-bottom: 6rem;
    }
  }

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    bottom: 0;
    height: 50%;
    background-color: $l-lightgreen;
  }
}

.project-h2 {
  font-size: 1.875rem;
  margin-top: 0;
}

.h2-subheading {
  display: block;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 0 1rem;
  letter-spacing: -0.025em;
  color: $l-gray;
}

.project-link {
  font-weight: 500;
  color: $l-green;
  text-decoration: underline;

  &:hover,
  &:focus {
    color: $l-green-var;
  }
}

.bg-alt {
  background-color: $l-lightgreen;
}

section.project-intro {
  margin-top: -2rem;
  padding-top: 0;
  background-color: $l-lightgreen;

  @include breakpoint(lg) {
    margin-top: 0;
  }

  .project-intro__container {
    max-width: 770px;
    margin: 0 auto;
  }
}

.separator {
  padding: 0 0.3rem;
  opacity: 0.5;
}

.figma-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-gap: 2.25rem;

  .skeleton {
    @include box-shadow;
  }

  @include breakpoint(lg) {
    grid-template-columns: 1fr 1fr;
  }
}
