// -----------------------------------------------------------------------------
// Application-wide variables
// -----------------------------------------------------------------------------

$breakpoint-xs: 475px;
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-xxl: 1536px;

$breakpoint-card: 928px;

$border-radius: .5rem;

$txt-dark: #17141E;
$txt-light: #F4F3F8;

$bg-dark: #09080E;
$bg-dark2: #1C1A22;
$bg-accent: #131124;

$bg-light: #F4F3F8;
$bg-white: #FCFCFD;

$grey-dark: #798292;
$grey-light: #9EAABE;
$grey-lighter: #c3ccdb;

$link-bg: #CDE9FF;

$primary-yel: #F3E072;
$primary-yel2: #f9eb9c;

$primary-cya: #10D4B0;

$secondary-vio: #8680A3;
$secondary-vio2: #302a49;

$pri-norma: rgba(0,60,112,1);