// -----------------------------------------------------------------------------
// Application-wide variables
// -----------------------------------------------------------------------------

$breakpoint-xs: 475px;
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-xxl: 1536px;

$breakpoint-card: 928px;

$border-radius: 4px;

$txt-dark: #17141E;
$txt-light: #F4F3F8;

$bg-dark: #09080E;
$bg-dark2: #1C1A22;
$bg-accent: #131124;

$bg-light: #FCFCFC;
$bg-white: #FCFCFC;

$grey-dark: #798292;
$grey-light: #9EAABE;
$grey-lighter: #c3ccdb;

$link-bg: #CDE9FF;

$primary-yel: #F3E072;
$primary-yel2: #f9eb9c;

$primary-cya: #10D4B0;

$secondary-vio: #8680A3;
$secondary-vio2: #302a49;

$pri-norma: rgba(0,60,112,1);

// new colors

$l-green: #0D829C;
$l-green-var: #0E7288;
$l-pink: #FCC5E9;
$l-white: #FCFCFC;
$l-lightgreen: #E4F5F6;
$l-lightgreen-var: #CDEBED;
$l-darkblue: #142850;
$l-gray: #546583;

$l-norma-card: #D1E6FA;
$l-norma-card-var: #ABCCED;
$l-norma-card-text: #223B54;
$l-norma-card-light: #F5FAFF;