// -----------------------------------------------------------------------------
// Application-wide variables
// -----------------------------------------------------------------------------

$breakpoint-xs: 475px;
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-xxl: 1536px;

$breakpoint-card: 928px;

$max-width: 1125px;
$border-radius: 4px;

$txt-dark: #17141e;
$txt-light: #f4f3f8;

$bg-dark: #09080e;
$bg-dark2: #1c1a22;
$bg-accent: #131124;

$bg-light: #fff;
$bg-white: #fff;

$grey-dark: #798292;
$grey-light: #9eaabe;
$grey-lighter: #c3ccdb;

$link-bg: #cde9ff;

$primary-yel: #f3e072;
$primary-yel2: #f9eb9c;

$primary-cya: #10d4b0;

$secondary-vio: #8680a3;
$secondary-vio2: #302a49;

$pri-norma: rgba(0, 60, 112, 1);

// new colors

$l-green: #0d829c;
$l-green-var: #0e7288;
$l-pink: #fcc5e9;
$l-white: #ffffff;
$l-lightgreen: #e4f5f6;
$l-lightgreen-var: #cdebed;
$l-darkblue: #142850;
$l-gray: #546583;

$l-norma-card: #d1e6fa;
$l-norma-card-var: #abcced;
$l-norma-card-text: #223b54;
$l-norma-card-light: #f5faff;

$l-wimmalab-card: #d1f7fa;
$l-wimmalab-card-var: #abe9ed;
$l-wimmalab-card-text: #225154;
$l-wimmalab-card-light: #f5feff;
