.button {
  border: none;
  outline: none;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  padding: 0.9rem 1rem 0.6rem 1.3rem;
  margin-right: 0.7rem;
  font-size: 1.125rem;
  font-weight: 800;
  border-radius: $border-radius;
  white-space: nowrap;
  transition: 150ms cubic-bezier(0.215, 0.61, 0.355, 1);
  cursor: pointer;

  &--primary {
    color: rgba($bg-accent, 0.75);
    background-color: $primary-yel;
    border: 2px solid $primary-yel;

    &:visited {
      color: rgba($bg-accent, 0.75);
    }
    
    &:hover {
      color: rgba($bg-accent, 0.85);
      background-color: $primary-yel2;
      border-color: $primary-yel2;
    }

    &:focus {
      background-color: $bg-dark;
      color: $primary-yel2;
      border-color: $primary-yel2;
      box-shadow: 0 0 0 1px $primary-yel2;
    }
  }

  .icon-right {
    width: 1.25rem;
    margin: -0.3rem 0 0 0.7rem;
  }

  &--secondary {
    color: $grey-lighter;
    background-color: $bg-dark;
    padding-left: 1.2rem;
    border: 2px solid $grey-lighter;

    &:visited {
      color: $grey-lighter;
    }

    &:hover, &:focus {
      color: $bg-white;
      border-color: $bg-white;
    }

    &:focus {
      box-shadow: 0 0 0 1px $bg-white;
    }
  }
}