// -----------------------------------------------------------------------------
// ProjectCard styles
// -----------------------------------------------------------------------------

.project-card {
  --padding: 1.5rem;
  position: relative;
  border-radius: $border-radius;

  @include breakpoint(card) {
    --padding: 2rem;
  }
  @include breakpoint(xl) {
    --padding: 3rem;
  }

  // bg flat shadow
  &::after {
    --offset: 1rem;
    content: '';
    position: absolute;
    z-index: -1;
    top: var(--offset);
    left: var(--offset);
    bottom: -var(--offset);
    right: -var(--offset);
    width: 100%;
    height: 100%;
    border-radius: $border-radius;
    background-color: $l-lightgreen;

    @include breakpoint(xl) {
      --offset: 1.5rem;
    }
  }

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: var(--padding) var(--padding) 0 var(--padding);

    @include breakpoint(card) {
      flex-direction: row;
      padding: var(--padding) 0 0 var(--padding);

      > * {
        flex: 0 0 50%;
      }
    }
  }

  &__content {
    margin-bottom: 1rem;

    @include breakpoint(xs) {
      margin-bottom: 1.5rem;
    }
    @include breakpoint(card) {
      flex-basis: calc(50% - var(--padding));
      margin: 0 var(--padding) var(--padding) 0;
    }
  }

  &__image-container {
    position: relative;
    overflow: hidden;
    width: calc(100% + var(--padding));
    height: 280px;
    border-radius: $border-radius 0;

    @include breakpoint(card) {
      flex-basis: 50%;
      width: auto;
      height: auto;
    }
  }

  &__image {
    position: absolute;
    width: 572px;
    height: 317px;

    @include breakpoint(sm) {
      width: 820px;
      height: 455px;
    }
  }

  small {
    font-size: 1rem;
    font-weight: 500;
  }

  h3 {
    margin: 0.5rem 0 1.5rem;
    font-size: clamp(1.313rem, 6vw, 2rem);
    letter-spacing: -0.035em;
    font-weight: 700;
    line-height: 1.2;
  }

  p {
    display: none;
    font-size: 1.063rem;
    margin: 1rem 0 2rem;

    @include breakpoint(xs) {
      display: block;
    }
  }
}

.tag {
  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 0.5rem 0;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  padding: 0.2rem 0.5rem;
  border-radius: $border-radius;
}

// Color variations

.Norma {
  background-color: $l-norma-card;
  border: 1px solid $l-norma-card-var;

  .project-card {
    &__image-container {
      background-color: $l-norma-card-var;
      @include card-image-shadow($l-norma-card-var);
    }

    &__content {
      color: $l-norma-card-text;
    }
  }
  
  .tag {
    background-color: $l-norma-card-var;

    &--alt {
      background-color: $l-norma-card-light;
    }
  }
}