// -----------------------------------------------------------------------------
// TechnologyList styles
// -----------------------------------------------------------------------------

.technology-list {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  &__title {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    svg {
      color: $l-green;
    }

    h3 {
      margin: 0;
    }
  }
}
