// -----------------------------------------------------------------------------
// Application-wide base styles
// -----------------------------------------------------------------------------

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
}

a {
  text-decoration: none;
  outline: none;
  transition: all 0.2s ease;
}

figure {
  margin: 0;
}

figcaption {
  font-size: 1rem;
  line-height: 1.4;
  margin: 1.2rem 0 0;
  text-align: center;
  color: $grey-dark;

  &::before {
    content: '↑ ';
  }
}

.h2-container {
  h2 {
    position: relative;

    // line
    &::before {
      content: '';
      position: absolute;
      bottom: -1.25rem;
      left: -3rem;
      width: 128px;
      height: 3px;
      border-radius: 6px;
      background-color: $l-pink;
    }
  }

  p {
    margin: 2.5rem 0;
    max-width: 525px;
  }
}

.lazy {
  &__fadein {
    opacity: 0;
    transition: opacity 0.25s;
    border-radius: $border-radius;
  }

  &__loaded {
    opacity: 1;
  }
}

.skeleton {
  background-color: $bg-dark2;
  border-radius: $border-radius;
  transition: color 0.4s ease;
}
